body, .generalStyle {
	padding:0px;
	margin:0px;	
	overflow-y:hidden;
	font-size:14px;
	font-family:arial;
	letter-spacing:2px;
	color:#555;
	overflow-x:hidden;	
}
a {
   color: #6261d8;
   text-decoration: none;
}
#wrap{
	position:absolute;
	width:100%;
	height:100%;	
}
#sideBar{
	width:25%;
	height:100%;
	background: #fff;
	z-index:100;
	float:left;
	position:absolute;	
}
#footer{
	position:fixed;
	width:25%;
	bottom:3px;
	left:0px;
	font-size:12px;
	text-align:center;
	z-index: 100;
	margin:0px;	
}
#sideBar > #content > *  {
	margin-left:5px;

}
#bar{
	height:100%;
	background-color: #EEE; /*#6261d8;*/ 
	background-image: url("images/left.png");
	background-repeat:no-repeat;
	background-position:center;
	z-index: 150;
	position: absolute;
	right:75%;
	width:1%;	
	cursor:pointer;
		
}
#userarea  { 
	z-index:200; 
	list-style: none;
	padding:0;
	float:left;
	margin:0px;
	position: relative;	
	cursor: pointer;
	color:#13a;
	font-size: 14px;
}
#userarea ul {
	display:none;
	list-style: none;
	position: absolute;
	margin-left:-22px;
	padding:0px;
	width:190px;
	background-color: #FFFFFF;
	border-bottom: 1px dotted #ddd;
	
}
#userarea ul li {
	font-size:11px;
	padding:10px;
	padding-left:22px;
	border-top: 1px dotted #ddd;
}
#userarea ul li:hover {
	background-color: #CFDEFF;
}

#username{
	padding-left:22px;
	background: url("images/account.png") no-repeat 3px;
}
#signout{
	/*
	background: url("images/signout.png") no-repeat 0px;
	background-position: top left;
	*/
}
#changePassword{ 
		/*
		background: url("images/changePassword.png") no-repeat 0px;
		background-position: top left;
		*/
}
#inviteUser { 
	/*
	background: url("images/invite.png") no-repeat 0px; 
	background-position: top left;
	*/
}
#friendRequests{ 
	/*
	background: url("images/friends.png") no-repeat 0px;
	background-position: top left;
	*/
}

#bar:hover{ background-color:#6261d8;}
#infoBottomBar {
	position:absolute;
	z-index: 200;
	width: 75%;
	display:none;
	right:0px;
	top: 0px;
	opacity: 0.95;
	padding: 20px 0px;	
	text-align:center;
	background-color: #FFF;
}

#map{	
	height:100%;
	width:75%;
	float:right;
}

#logo, .logo, .logo_inFullMap {
	height:70px;
	background: url("images/logo.png") no-repeat center;
	cursor:pointer;		
	position: relative;
}
/*#loginLogo {
	height:160px;
}
*/
.loginPageBlock {
	padding:20px;
	margin:0px;

}
#userLoginForm, #forgotPasswordForm, #registerForm, #activateAccountInfo {
/*	position:absolute;
	text-align:center;	
*/
	line-height: 25px;
}

#userLoginForm #emailLogin, #userLoginForm #password, #changePasswordForm input, #InviteUserForm textarea{
	width:200px;
}
#userLoginForm div {
  font-size:12px;
  display: table-cell;
  padding:5px;
}

#submitLoginFormButton
{
	width:80px
}

#changePasswordForm #changePasswordButton, #changePasswordForm #changePasswordCancel{
	width:80px;
}
#projectteam{
	line-height: 20px;
}
.logo_inFullMap{
	display:none;
	z-index:200;
	width:205px;
	position:absolute;
	left:10px;
	top:10px;
}
#lists{
	overflow: auto;	
	clear:both;
	vertical-align:bottom;
/*	height:100%;
*/
}
#content{
	height: 100%;
}
#friendsList, #photosList{
	clear: both;
}
#loading {	
	position:fixed;
	width:100%;	
	top:0px;
	z-index:100;
	display:none;	
	padding:10px;
	margin:0px;
	background:url(images/ajax-loader.gif) no-repeat center;	
}

.searchResults, #photosList{ display: none; }
#photosList{
	font-size:11px;
}
#photosList .searchResults #returnToPhotoList{
	font-size:16px;
}
.title{ 

}
#lists .title {
	display: block;
	cursor: pointer;
	padding:5px 5px 5px 3px;
	background-color: #EEE;
	color:#6261d8;	
}
#aboutus .title{
	color:#555;
	font-weight: bold;	
}
#lists .active_title{
	z-index: 100;
	color:#EEE;
	background-color: #6261d8;
	font-weight: bold;
}
.arrowImage{
	background: url("images/down.png") no-repeat left;
	padding:8px;
	float: left;
	position:relative;
	margin-right: 24px;
}
.arrowImageRight{
	background: #EEE url("images/right_arrow.png") no-repeat left;
}
#user_title{
	background: url("images/person.png") no-repeat 22px center;
	position: relative;
}
#photo_title{
	background: url("images/image.png") no-repeat 22px center;
	position: relative;
}
#lists ul {
	list-style:none;
	display:block;
	line-height:25px;
	padding:0px;	
}
#lists li a{
	display:block;
	clear: both;
}
#lists #photosList li a{
	padding:2px;
	line-height:17px;
}
.uploader{
	color: #6261d8;
	cursor: pointer;
}
.uploader:Hover{ text-decoration: underline;}

#lists #photosList li a div{
  display: table-cell;
  vertical-align: middle;
  padding-right:3px;
}
#lists li a:hover{
	background-color:#EEE;
}
.search{
	margin-top:10px;
}
#searchBox{
	width:85%;
	color:#666;	
}
#searchButton{
	vertical-align:middle;
	cursor:pointer;
}
.pageNumbers{
	text-align:center;
	font-size:14px;	
	line-height: 25px;
	clear:both;
}
.pageNumbers a{
	padding-right:5px;
}
/*
#aboutus, #termsofuse {	
	margin:0px;
}
*/
.infoWinOperations {
	padding:3px;
	font-size: 10px;
}
#nextPage, #previousPage{
	font-size: smaller;
}
.thumbImage{
	border:0;
	max-width: 36px;
	max-height: 36px;	
}
.origImage{
	border:0;
	max-width: 640px;
	max-height: 480px;	
}
.origImageContainer{
	font-size:11px;
}
.deleteImageButton{
	display: block;
	float: right;
	position:relative;
	right: 20px;
	top: 20px;
	padding-left:5px;
}
#mailEntraceAlert{
	font-style:italic;
}
.userOperations{
	float:left;
	margin: 0px;
	cursor: pointer;
	padding:5px 2px 5px 2px;
}
.userOperations div{
	display: none;
}
.userOperations:hover{
	background-color: #EEE;
}

#message_warning .mbcontainercontent, #message_info .mbcontainercontent
{
	font-family:arial;
	text-align:center;
	font-size:16px;
	padding:15px;
}

.link{
cursor:pointer;
}