@font-face {
/* 	font-family: 'icomoon'; */
/* 	src:url('../fonts/icomoon.eot'); */
/* 	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), */
/* 		url('../fonts/icomoon.ttf') format('truetype'), */
/* 		url('../fonts/icomoon.woff') format('woff'), */
/* 		url('../fonts/icomoon.svg#icomoon') format('svg'); */
/* 	font-weight: normal; */
/* 	font-style: normal; */
	
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?3c9hn6');
	src:url('../fonts/icomoon.eot?#iefix3c9hn6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?3c9hn6') format('woff'),
		url('../fonts/icomoon.ttf?3c9hn6') format('truetype'),
		url('../fonts/icomoon.svg?3c9hn6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;	
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
/* 	margin: 15px 30px; */
	width: 48px; /*90px; ikonu saran yuvarlak width'i*/
	height: 48px; /*90px; ikonu saran yuvarlak height'i*/
	border-radius: 10%; /*50%; ikonun arkasındaki alanin sekli, 0'a yaklastikca karelesiyor*/
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff; /*hover edilmemiskenki ikonun rengi*/
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10%; /*50%; hover yapınca cikan kapalı seklin sekli, 0'a yaklastikca karelesiyor*/
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 32px; /*48px; ikon boyutu*/
	line-height: 48px; /*90px; ikonun arka alan icerisindeki düşey konumunu ayarlar*/ 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

.hi-icon-in-list {
	display: inline-block;
	font-size: 0px;
/* 	margin: 15px 30px; */
	width: 32px; /*90px; ikonu saran yuvarlak width'i*/
	height: 32px; /*90px; ikonu saran yuvarlak height'i*/
	border-radius: 10%; /*50%; ikonun arkasındaki alanin sekli, 0'a yaklastikca karelesiyor*/
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FFDB58; /*hover edilmemiskenki ikonun rengi*/
}

.hi-icon-in-list:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10%; /*50%; hover yapınca cikan kapalı seklin sekli, 0'a yaklastikca karelesiyor*/
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon-in-list:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 32px; /*48px; ikon boyutu*/
	line-height: 32px; /*90px; ikonun arka alan icerisindeki düşey konumunu ayarlar*/ 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

.lo-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
/* 	margin: 15px 30px; */
	width: 26px; /*90px; ikonu saran yuvarlak width'i*/
	height: 26px; /*90px; ikonu saran yuvarlak height'i*/
	border-radius: 50%; /*50%; ikonun arkasındaki alanin sekli, 0'a yaklastikca karelesiyor*/
	text-align: center;
	position: relative;
	z-index: 1;	
	color: #fff; /*hover edilmemiskenki ikonun rengi*/	
}

.lo-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%; /*50%; hover yapınca cikan kapalı seklin sekli, 0'a yaklastikca karelesiyor*/
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.lo-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 16px; /*48px; ikon boyutu*/
	line-height: 26px; /*90px; ikonun arka alan icerisindeki düşey konumunu ayarlar*/ 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}

.lo-icon-in-tooltip {
	display: inline-block;
	font-size: 0px;
/* 	margin: 15px 30px; */
	width: 14px; /*90px; ikonu saran yuvarlak width'i*/
	height: 14px; /*90px; ikonu saran yuvarlak height'i*/
	border-radius: 10%; /*50%; ikonun arkasındaki alanin sekli, 0'a yaklastikca karelesiyor*/
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FF7F00; /*hover edilmemiskenki ikonun rengi*/
}

.lo-icon-in-tooltip:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10%; /*50%; hover yapınca cikan kapalı seklin sekli, 0'a yaklastikca karelesiyor*/
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.lo-icon-in-tooltip:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 14px; /*48px; ikon boyutu*/
	line-height: 14px; /*90px; ikonun arka alan icerisindeki düşey konumunu ayarlar*/ 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

.bottom-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
/* 	margin: 15px 30px; */
	width: 42px;
	height: 42px;
	border-radius: 10%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FF7F00;
}

.bottom-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.bottom-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 32px;
	line-height: 42px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.sliding-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
/* 	margin: 15px 30px; */
	width: 42px;
	height: 42px;
	border-radius: 10%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FF7F00;
}

.sliding-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.sliding-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 32px;
	line-height: 42px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.med-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 32px; /*90px; ikonu saran yuvarlak width'i*/
	height: 32px; /*90px; ikonu saran yuvarlak height'i*/
	border-radius: 50%; /*50%; ikonun arkasındaki alanin sekli, 0'a yaklastikca karelesiyor*/
	text-align: center;
	position: relative;
	z-index: 1;	
	color: #fff; /*hover edilmemiskenki ikonun rengi*/	
}

.med-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%; /*50%; hover yapınca cikan kapalı seklin sekli, 0'a yaklastikca karelesiyor*/
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.med-icon:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 24px; /*48px; ikon boyutu*/
	line-height: 32px; /*90px; ikonun arka alan icerisindeki düşey konumunu ayarlar*/	 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}

.med-icon-bordered {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 26px; /*90px; ikonu saran yuvarlak width'i*/
	height: 26px; /*90px; ikonu saran yuvarlak height'i*/
	border-radius: 50%; /*50%; ikonun arkasındaki alanin sekli, 0'a yaklastikca karelesiyor*/
	text-align: center;
	position: relative;
	z-index: 1;	
	color: #fff; /*hover edilmemiskenki ikonun rengi*/	
}

.med-icon-bordered:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%; /*50%; hover yapınca cikan kapalı seklin sekli, 0'a yaklastikca karelesiyor*/
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.med-icon-bordered:before {
	font-family: 'icomoon';
	speak: none;
	font-size: 24px; /*48px; ikon boyutu*/
	line-height: 26px; /*90px; ikonun arka alan icerisindeki düşey konumunu ayarlar*/	 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}


.icon-profile:before {
	content: "\e60b";
}
.icon-qrcode:before {
	content: "\e60c";
}
.icon-screen:before {
	content: "\e60d";
}
.icon-mobile:before {
	content: "\e60e";
}
.icon-mobile2:before {
	content: "\e60f";
}
.icon-user:before {
	content: "\e610";
}
.icon-users:before {
	content: "\e611";
}
.icon-search:before {
	content: "\e63d";
}
.icon-key:before {
	content: "\e612";
}
.icon-cog:before {
	content: "\e61f";
}
.icon-wand:before {
	content: "\e63e";
}
.icon-signup:before {
	content: "\e613";
}
.icon-warning:before {
	content: "\e624";
}
.icon-question2:before {
	content: "\e625";
}
.icon-spam:before {
	content: "\e626";
}
.icon-close:before {
	content: "\e627";
}
.icon-checkmark:before {
	content: "\e628";
}
.icon-plus:before {
	content: "\e63f";
}
.icon-enter:before {
	content: "\e614";
}
.icon-exit:before {
	content: "\e615";
}
.icon-arrow-right:before {
	content: "\e616";
}
.icon-arrow-left:before {
	content: "\e617";
}
.icon-arrow-right2:before {
	content: "\e61d";
}
.icon-arrow-left2:before {
	content: "\e61e";
}
.icon-checkmark2:before {
	content: "\e62b";
}
.icon-x:before {
	content: "\e62f";
}
.icon-iphone:before {
	content: "\e600";
}
.icon-monitor:before {
	content: "\e601";
}
.icon-iphone2:before {
	content: "\e602";
}
.icon-download1:before {
	content: "\e61b";
}
.icon-download2:before {
	content: "\e61c";
}
.icon-eraser:before {
	content: "\e629";
}
.icon-zoomIn1:before {
	content: "\e62c";
}
.icon-zoomOut1:before {
	content: "\e62d";
}
.icon-zoomMax5:before {
	content: "\e62e";
}
.icon-inviteUsers2:before {
	content: "\e634";
}
.icon-envelope:before {
	content: "\e61a";
}
.icon-monitor2:before {
	content: "\e630";
}
.icon-mobile3:before {
	content: "\e631";
}
.icon-mobile32:before {
	content: "\e604";
}
.icon-monitor22:before {
	content: "\e605";
}
.icon-cog2:before {
	content: "\e632";
}
.icon-lock:before {
	content: "\e633";
}
.icon-inviteUsers3:before {
	content: "\e640";
}
.icon-clipboard:before {
	content: "\e635";
}
.icon-clipboard2:before {
	content: "\e636";
}
.icon-clipboard3:before {
	content: "\e637";
}
.icon-settings:before {
	content: "\e638";
}
.icon-inviteUsers:before {
	content: "\e618";
}
.icon-enter2:before {
	content: "\e623";
}
.icon-mobile22:before {
	content: "\e606";
}
.icon-screen2:before {
	content: "\e607";
}
.icon-mail:before {
	content: "\e603";
}
.icon-help:before {
	content: "\e609";
}
.icon-download3:before {
	content: "\e621";
}
.icon-qrcode2:before {
	content: "\e622";
}
.icon-camera:before {
	content: "\e639";
}
.icon-question-sign:before {
	content: "\e60a";
}
.icon-camera-retro:before {
	content: "\e63a";
}
.icon-cogs:before {
	content: "\e63b";
}
.icon-group:before {
	content: "\e608";
}
.icon-question:before {
	content: "\e619";
}
.icon-eraser2:before {
	content: "\e62a";
}
.icon-android:before {
	content: "\e620";
}
.icon-inviteUsers4:before {
	content: "\e641";
}
.icon-camera2:before {
	content: "\e63c";
}



.med-icon-effect .med-icon {
/* 	border: 3px solid #FF7F00; */
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.med-icon-effect .med-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
/* 	background: #fff; */
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

.med-icon-effect-a .med-icon {
	color: #FF7F00 /*#f06060;*/
}

.no-touch .med-icon-effect-a .med-icon:hover {
	color: #fff;
	background: #FF7F00;
}

.no-touch .med-icon-effect-a .med-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.med-icon-bordered-effect .med-icon-bordered {
	border: 3px solid #FF7F00;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.med-icon-bordered-effect .med-icon-bordered:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
/* 	background: #fff; */
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

.med-icon-effect-a .med-icon-bordered {
	color: #FF7F00 /*#f06060;*/
}

.no-touch .med-icon-effect-a .med-icon-bordered:hover {
	color: #fff;
	background: #FF7F00;
}

.no-touch .med-icon-effect-a .med-icon-bordered:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}



/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
/* 	background: rgba(255,255,255,0.20.1 arkadaki saydam alan); */
	background:#FF7F00;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.no-touch .hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #FF7F00; /*#41ab6b; yesil: hover olunca alinan renk*/
}

.no-touch .hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 1b */
.no-touch .hi-icon-effect-1b .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #41ab6b;
}

.hi-icon-effect-1b .hi-icon:after {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.no-touch .hi-icon-effect-1b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 2 */
.hi-icon-effect-2 .bottom-icon {
	color: #fff;
	box-shadow: 0 0 0 4px #FF7F00;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-2 .bottom-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #FF7F00;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.no-touch .hi-icon-effect-2a .bottom-icon:hover {
	color: #fff;
}

.no-touch .hi-icon-effect-2a .bottom-icon:hover:after {
	-webkit-transform: scale(0.82);
	-moz-transform: scale(0.82);
	-ms-transform: scale(0.82);
	transform: scale(0.82);
}

/* Effect 2b */
.no-touch .hi-icon-effect-2b .bottom-icon:hover:after {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
	-moz-transition: -moz-transform 0.4s, opacity 0.2s;
	transition: transform 0.4s, opacity 0.2s;
}

.no-touch .hi-icon-effect-2b .bottom-icon:hover {
	color: #fff;
}

/* Effect 3 */
.lo-icon-effect-3 .lo-icon {
/* 	box-shadow: 0 0 0 4px #fff; */
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.lo-icon-effect-3 .lo-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
/* 	background: #fff; */
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

/* Red Effect*/
.lo-icon-effect-red .lo-icon {
	color: #F62217; /*#f06060;*/
/* 	background: linear-gradient(to bottom, #fff, #F62217); */
/* 	-webkit-mask-image: -webkit-radial-gradient(40% 40%, circle cover, rgba(0,0,0,.5), rgba(0,0,0,1)); */
	text-shadow: 3px 2px 4px rgba(0,0,0,.3);
}

.no-touch .lo-icon-effect-red .lo-icon:hover {
	color: #fff;
/* 	background: #F62217; */
	background: linear-gradient(to bottom, #E77471, #F62217);
	background: -moz-linear-gradient(top, #E77471, #F62217);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E77471', endColorstr='#F62217');
	background: -webkit-gradient(linear, left top, left bottom, from(#E77471), to(#F62217));	
	background: -ms-linear-gradient(top, #E77471, #F62217);
	background: -webkit-linear-gradient(top, #E77471, #F62217);
	background: -o-linear-gradient(top, #E77471, #F62217);	
}

.no-touch .lo-icon-effect-red .lo-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* Green Effect*/
.lo-icon-effect-green .lo-icon {
	color: #52D017; /*#f06060;*/
	text-shadow: 3px 2px 4px rgba(0,0,0,.3);
}

.no-touch .lo-icon-effect-green .lo-icon:hover {
	color: #fff;
/* 	background: #F62217; */
	background: linear-gradient(to bottom, #CCFB5D, #52D017);
	background: -moz-linear-gradient(top, #CCFB5D, #52D017);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFB5D', endColorstr='#52D017');
	background: -webkit-gradient(linear, left top, left bottom, from(#CCFB5D), to(#52D017));	
	background: -ms-linear-gradient(top, #CCFB5D, #52D017);
	background: -webkit-linear-gradient(top, #CCFB5D, #52D017);
	background: -o-linear-gradient(top, #CCFB5D, #52D017);	
}

.no-touch .lo-icon-effect-green .lo-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* User Effect*/
.hi-icon-effect-user .hi-icon-in-list {
/* 	background: rgba(255,255,255,0.20.1 arkadaki saydam alan); */
/* 	background:#FF7F00; */
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

/* Effect User a */
.no-touch .hi-icon-effect-usera .hi-icon-in-list:hover {
/* 	background: rgba(255,255,255,1); */
	color: #FF7F00; /*#41ab6b; yesil: hover olunca alinan renk*/
}

/* Effect 3a */
.lo-icon-effect-3a .lo-icon {
	color: #FF7F00 /*#f06060;*/
}

.no-touch .lo-icon-effect-3a .lo-icon:hover {
	color: #fff;
	background: #FF7F00;
}

.no-touch .lo-icon-effect-3a .lo-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* Effect 3b */
.lo-icon-effect-3b .lo-icon {
	color: #fff;
}

.no-touch .lo-icon-effect-3b .lo-icon:hover {
	color: #FF7F00 /*#f06060;*/
}

.lo-icon-effect-3b .lo-icon:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.no-touch .lo-icon-effect-3b .lo-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 4 */
.hi-icon-effect-4 .hi-icon {
	width: 92px;
	height: 92px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);	
}

.hi-icon-effect-4a .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-4 .hi-icon:before {
	line-height: 92px;
}

.hi-icon-effect-4 .hi-icon:after {
	top: -4px;
	left: -4px;
	padding: 0;
	z-index: 10;
	border: 4px dashed #fff;
}

.no-touch .hi-icon-effect-4 .hi-icon:hover {
	box-shadow: 0 0 0 0 rgba(255,255,255,0);
	color: #fff;
}

/* Effect 4b */
.no-touch .hi-icon-effect-4b .hi-icon:hover {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.no-touch .hi-icon-effect-4b .hi-icon:hover:after {
	-webkit-animation: spinAround 9s linear infinite;
	-moz-animation: spinAround 9s linear infinite;
	animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

/* Effect 5 */
.hi-icon-effect-5 .sliding-icon {
	box-shadow: 0 0 0 4px rgba(255,127,0,1);
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.hi-icon-effect-5 .sliding-icon:after {
	display: none;
}

.no-touch .hi-icon-effect-5 .sliding-icon:hover {
	background: rgba(255,127,0,1);
	color: #fff;
	box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.no-touch .hi-icon-effect-5a .sliding-icon:hover:before {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

.no-touch .hi-icon-effect-5b .sliding-icon:hover:before {
	-webkit-animation: toLeftFromRight 0.3s forwards;
	-moz-animation: toLeftFromRight 0.3s forwards;
	animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

.no-touch .hi-icon-effect-5c .hi-icon:hover:before {
	-webkit-animation: toTopFromBottom 0.3s forwards;
	-moz-animation: toTopFromBottom 0.3s forwards;
	animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.no-touch .hi-icon-effect-5d .hi-icon:hover:before {
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
}

.no-touch .hi-icon-effect-7 .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
	box-shadow: 0 0 0 rgba(255,255,255,1);
	-webkit-transition: opacity 0.2s, box-shadow 0.2s;
	-moz-transition: opacity 0.2s, box-shadow 0.2s;
	transition: opacity 0.2s, box-shadow 0.2s;
}

.no-touch .hi-icon-effect-7a .hi-icon:hover:after {
	opacity: 1;
	box-shadow: 3px 3px 0 rgba(255,255,255,1);
}

.hi-icon-effect-7a .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.no-touch .hi-icon-effect-7a .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
	box-shadow: 3px 3px rgba(255,255,255,1);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:after {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.hi-icon-effect-7b .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.no-touch .hi-icon-effect-7b .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.no-touch .hi-icon-effect-8 .hi-icon:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

/* Effect 9 */
.hi-icon-effect-9 .selectLanguage {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .selectLanguage:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 5px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.no-touch .hi-icon-effect-9a .selectLanguage:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.no-touch .hi-icon-effect-9a .selectLanguage:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}

/* Effect 9b */
.no-touch .hi-icon-effect-9b .selectLanguage:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.no-touch .hi-icon-effect-9b .selectLanguage:hover {
	box-shadow: 0 0 0 6px rgba(255,127,0,0.8);
	color: #FF7F00;
	opacity: 0.8;
}
