<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0.0"
	package="com.traceper">
	<application android:icon="@drawable/icon" android:label="@string/ApplicationName" android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".android.Main">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category
					android:name="android.intent.category.NORMAL">
				</category>
			</intent-filter>
		</activity>
		<service android:name=".android.services.AppService"></service>
		<activity android:name=".android.Login">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER">
				</category>
			</intent-filter>
		</activity>	
		
		<activity android:name=".android.Register">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.NORMAL"></category>
			</intent-filter>
		</activity>
		<activity android:name=".android.CameraController" android:screenOrientation="landscape" >
		</activity>
		
			<activity android:name=".android.MapViewController"  >
			<intent-filter>
				<action android:name="com.traceper.MVIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".android.FriendList"  >
			<intent-filter>
				<action android:name="com.traceper.FRIENDS"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".android.PastPoints"  >
			<intent-filter>
				<action android:name="com.traceper.PASTPOINTS"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		<activity android:name=".android.SearchUsers"  >
			<intent-filter>
				<action android:name="com.traceper.SEARCHUSERS"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
 <activity
            android:launchMode="singleTask"
            android:name=".android.OAuth" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="localhost"
                    android:scheme="http" />
            </intent-filter>
        </activity>
		
</application>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
<uses-permission android:name="android.permission.RECORD_AUDIO"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS" />

<uses-feature android:name="android.hardware.camera" android:required="false" />
<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

</manifest>
