body, .generalStyle {
	padding:0px;
	margin:0px;	
	overflow-y:hidden;
	font-size:16px;
	font-family:arial;
	letter-spacing:2px;
	color:#555;
	overflow-x:hidden;	
}
a {
   color: #6261d8;
   text-decoration: none;
}
#wrap{
	position:absolute;
	width:100%;
	height:100%;	
}
#sideBar{
	width:25%;
	height:100%;
	background: #fff;
	z-index:100;
	float:left;
	position:absolute;	
}
#footer{
	position:fixed;
	width:25%;
	bottom:3px;
	left:0px;
	font-size:12px;
	text-align:center;
	z-index: 100;
	margin:0px;	
}
#sideBar > #content > *  {
	margin-left:5px;

}
#bar{
	height:100%;
	background-color: #EEE; /*#6261d8;*/ 
	background-image: url("images/left.png");
	background-repeat:no-repeat;
	background-position:center;
	z-index: 150;
	position: absolute;
	right:75%;
	width:1%;	
	cursor:pointer;
		
}
#bar:hover{ background-color:#6261d8;}
#infoBottomBar {
	position:absolute;
	z-index: 200;
	width: 75%;
	display:none;
	right:0px;
	top: 0px;
	opacity: 0.95;
	padding: 20px 0px;	
	text-align:center;
	background-color: #FFF;
}

#map{	
	height:100%;
	width:75%;
	float:right;
}

#logo, .logo, .logo_inFullMap, #loginLogo {
	height:70px;
	background: url("images/logo.png") no-repeat center;
	cursor:pointer;		
}
#loginLogo {
	height:160px;
}
#userLoginForm, #forgotPasswordForm {
	position:absolute;
	top:125px;
	width:100%;
	text-align:center;	
	line-height: 25px;
}
#userLoginForm #username, #userLoginForm #password {
	width:200px;
} 
.logo_inFullMap{
	display:none;
	z-index:200;
	width:205px;
	position:absolute;
	left:10px;
	top:10px;
}
#lists{
	overflow: auto;	
	height:70%;
}
#usersList, #photosList{
	clear: both;
}
#loading {	
	position:fixed;
	width:100%;	
	top:0px;
	z-index:100;
	display:none;	
	padding:10px;
	margin:0px;
	background:url(images/ajax-loader.gif) no-repeat center;	
}

.searchResults, #photosList{ display: none; }
#photosList{
	font-size:11px;
}
#photosList .searchResults #returnToPhotoList{
	font-size:16px;
}
.titles{
	border-bottom:2px solid #6261d8;
}
#lists .title {
	display: table-cell;
	cursor: pointer;
	padding:5px 5px 5px 22px;
	-webkit-border-top-left-radius: 5px; 
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border: 1px solid #6261d8;
	border-bottom:0px;
	font-size:11px;
	background-color: #EEE;
	color:#6261d8;	
}
#aboutus .title{
	color:#555;
	font-weight: bold;
	
}
#lists .active_title{
	background-color:#6261d8;
	font-size:19px;
	color:#EEE;	
}
#user_title{
	background-image: url("images/person.png");
	background-repeat: no-repeat;
	background-position:3px center;
}
#photo_title{
	background-image: url("images/image.png") ;
	background-repeat: no-repeat;
	background-position:3px center;
}
#lists ul {
	list-style:none;
	display:block;
	line-height:25px;
	padding:0px;	
}
#lists li a{
	display:block;
}
#lists #photosList li a{
	padding:2px;
	line-height:17px;
}
.uploader{
	color: #6261d8;
	cursor: pointer;
}
.uploader:Hover{ text-decoration: underline;}

#lists #photosList li a div{
  display: table-cell;
  vertical-align: middle;
  padding-right:3px;
}
#lists li a:hover{
	background-color:#EEE;
}
.search{
	margin-top:10px;
}
#searchBox{
	width:85%;
	color:#666;	
}
#searchButton{
	vertical-align:middle;
	cursor:pointer;
}
.pageNumbers{
	text-align:center;
	font-size:14px;	
	line-height: 25px;
}
.pageNumbers a{
	padding-right:5px;
}

#aboutus, #termsofuse {	
	margin:15px;
}
.infoWinOperations {
	padding:3px;
	font-size: 10px;
}
#nextPage, #previousPage{
	font-size: smaller;
}
.thumbImage{
	border:0;
	max-width: 36px;
	max-height: 36px;	
}
.origImage{
	border:0;
	max-width: 640px;
	max-height: 480px;	
}
.origImageContainer{
	font-size:11px;
}
